.container {
    /* remember to set a width */
    max-width: 1280px;
    margin: 100px auto;

}

body{
    background-color: #fafafa;
}

h1{
   text-align: center;
}

.center{
    margin:0 auto;
    display:block;
    margin-top: 70px;
 }

 .ant-card-bordered{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

 }